<div class="recipe-details-container">
  <h2 class="recipe-details-title">Recipe Details</h2>
  @if (recipe) {
    <div class="recipe-details">
      <p><strong>Recipe name:</strong> {{ recipe.recipeName }}</p>
      <div class="product-list">
        @for (product of recipe.products; track product; let i = $index) {
          <div class="product-item">
            <p><strong>Product name:</strong> {{ product.productName }}</p>
            <p><strong>Quantity:</strong> {{ product.quantity }}</p>
          </div>
        }
      </div>
      <p><strong>Servings:</strong> {{ recipe.desiredServings }}</p>
      <p><strong>Calories per serving:</strong> {{ recipe.caloriesPerServing }}</p>
      <p><strong>Allergens:</strong> {{ recipe.allergens }}</p>
      <button (click)="goBack()" class="back-button">Retour</button>
    </div>
  } @else {
    <p class="no-recipe">No recipe selected.</p>
  }
</div>
