.fridge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 250px;
  border: 2px solid #999;
  border-radius: 5px;
  font-size: 16px;
}

.fridge {
  width: 300px;
  height: 500px;
  background-color: #f0f0f0;
  border: 2px solid #999;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.door {
  width: 50px;
  height: 100%;
  background-color: #d3d3d3;
  border-right: 2px solid #999;
  border-radius: 10px 0 0 10px;
  position: absolute;
  left: -50px;
  top: 0;
}

.handle {
  width: 20px;
  height: 60px;
  background-color: #999;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}

.content {
  width: 100%; /* S'assurer que ça prend tout l'espace horizontal */
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
}

.ingredients {
  list-style-type: none; /* Supprime le style de liste */
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Permet de prendre tout l'espace restant */
}

.ingredients li {
  background-color: #c2f0c2;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center; /* Optionnel, selon vos préférences */
}

.product-container {
  display: flex; /* Utiliser flexbox pour l'alignement */
  justify-content: space-between; /* Espacement entre le texte et le bouton */
  align-items: center; /* Aligner verticalement au centre */
}

.empty-fridge-message {
  text-align: center; /* Centre le texte */
  font-size: 1.2rem; /* Taille de police optionnelle */
  color: #666; /* Couleur optionnelle pour le texte */
  margin-top: 20px; /* Espacement supérieur optionnel */
}

.remove-button {
  margin-left: 10px; /* Espacement entre le texte et le bouton */
  background-color: #ff6b6b; /* Couleur du bouton */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px; /* Espacement à l'intérieur du bouton */
}

.remove-button:hover {
  background-color: #ff4c4c; /* Couleur au survol */
}
