<div class="fridge-container">
  <h1>FreeGo</h1>
  <div class="fridge">
    <div class="door">
      <div class="handle"></div>
    </div>
    <div class="content">
      <ul class="ingredients">
        <li *ngFor="let product of filteredProducts()">
          <div class="product-container">
            <span>{{ product.name }} x{{ product.quantity }}</span>
            <button (click)="decrementQuantity(product.name)" class="remove-button">-</button>
          </div>
        </li>
        <ng-container *ngIf="filteredProducts().length === 0">
          <div class="empty-fridge-message">Aucun aliment dans le frigo.</div>
        </ng-container>
      </ul>
    </div>
  </div>
  <br>
  <input type="text" placeholder="Rechercher un ingrédient" [(ngModel)]="searchTerm" (input)="filteredProducts()" />
</div>
