<div class="p-4">
  <h2 class="text-2xl font-bold mb-4">Add Product to Fridge</h2>
  <form (ngSubmit)="addProduct()" class="mb-6">
    <label for="product" class="block text-lg font-medium mb-2">Product Name:</label>
    <ng-select
      id="product" [(ngModel)]="newProduct" name="product" [items]="products" bindLabel="name" bindValue="name" placeholder="Select a product" class="border border-gray-300 p-2 rounded w-full mb-4">
    </ng-select>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Add Product</button>
  </form>

  <h3 class="text-xl font-semibold mb-2">Products in Fridge</h3>
  <ul class="list-disc pl-5 mb-6">
    @for (product of fridge; track product; let i = $index) {
      <li [id]="'product'+i" class="mb-1">{{ product }}</li>
    }
  </ul>

  <h3 class="text-xl font-semibold mb-2">Suggested Recipes</h3>
  <ul class="list-disc pl-5">
    @for (recipe of suggestedRecipes; track recipe.id; let i = $index) {
      <li [id]="'recipe'+i" class="mb-1">{{ recipe.name }}</li>
    }
  </ul>
</div>
